@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	font-family: 'Roboto', sans-serif;
	color: #000;
	line-height: normal;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	height:100%;
}
.w-100 {
    width: 100%;
}
a {
	color: #009FDF;
	text-decoration: none;
	transition: .3s all;
	-webkit-transition: .3s all;
	-moz-transition: .3s all;
	-ms-transition: .3s all;
	display: inline-block;
}

.forgot-field a:hover {
	text-decoration: underline;
}

dl,
ol,
ul {
	margin: 0;
	padding: 0;
}
label{
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display:block;
	margin-bottom: 5px;
}
input,
select,
textarea,
button {
	padding: 10px;
	height: 40px;
	outline: none;
	font-family: 'Roboto', sans-serif;
	color: #000;
	font-weight: 500;
	font-size: 14px;
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	width: 100%;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
}
input::placeholder,
textarea::placeholder{
	color: #888888;
}
input.error,
select.error,
textarea.error{
	border-color: red;
}
select {
    background-image: url(../images/down-arrow.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: right 14px center;
}
textarea {
	resize: vertical;
}
span, samp, small{font-family: 'Roboto', sans-serif;}
img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
h1{
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	color: #000000;
	margin-bottom:15px;
}
h2{
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	color: #000000;
	margin-bottom:15px;
}
h3 {
    font-weight: 900;
    font-size: 22px;
	margin-bottom:15px;
}
h4 {
    font-weight: bold;
    font-size: 18px;
	margin-bottom:15px;
}

p {
	margin-bottom: 15px;
	font-weight: 500;
	font-size: 16px;
	color: #555555;
}
.recharts-wrapper {
    font-size: 10px;
}
p:last-child {
	margin-bottom: 0px;
}
.form-field {
    margin-bottom: 25px;
}
div#root{ height:100%;}
.d-flex{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.flex-wrap{
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.justify-center{
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}
.justify-between{
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
}
.justify-end{
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
}
.justify-start{
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
}
.align-start{
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
}
.align-center{
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.align-end{
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
}
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}
.text-center{
	text-align:center;
}
.scroll-bar::-webkit-scrollbar {
  width: 5px;
}

.scroll-bar::-webkit-scrollbar-track {
  background:#fff;
}
.scroll-bar::-webkit-scrollbar-thumb {
  background: #555555;
}
.scroll-bar::scrollbar {
  width: 5px;
}
.scroll-bar::scrollbar-track {
  background:#fff;
}
.scroll-bar::scrollbar-thumb {
  background: #555555;
}
.scroll-bar::-moz-scrollbar {
  width: 5px;
}

.scroll-bar::-moz-scrollbar-track {
  background:#fff;
}
.scroll-bar::-moz-scrollbar-thumb {
  background: #555555;
}
.search-field input {
    padding-left: 39px;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: 15px;
}
.card {
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 15%);
    -webkit-box-shadow: 0px 5px 20px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0px 5px 20px rgb(0 0 0 / 15%);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
	padding:16px;
}
.bg-login-form {
    width: 100%;
    max-width: 640px;
	transition: .3s all;
	-webkit-transition: .3s all;
	-moz-transition: .3s all;
	-ms-transition: .3s all;
}
.bg-login-form .card h2 {
    margin-bottom: 30px;
}
.bg-login-form .forgot-field {
    margin-top: -15px;
    margin-bottom: 15px;
}
.login-bg {
    height: 100%;
    width: 100%;
    min-height: 900px;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 0;
	padding:0 15px;
}
.login-bg:before {
	content:'';
    position: absolute;
	left: 0px;
	top: 0px;
	bottom:0;
	right:0;
	background: rgba(0, 159, 223, 0.5);
	z-index: -1;
}
.bg-logo {
    text-align: center;
    padding-top: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.bg-login-heading {
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}
.bg-login-heading h1 {
    font-weight: 900;
    font-size: 48px;
    color: #fff;
    margin: 0;
}
.bg-login-form .card {
    padding: 30px 40px;
}
.forgot-field a {
    font-weight: bold;
    font-size: 16px;
}
.btn {
    background: #009FDF;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 15%);
    -webkit-box-shadow: 0px 5px 20px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0px 5px 20px rgb(0 0 0 / 15%);
    border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
    color: #fff;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    border: none;
    height: auto;
	cursor: pointer;
    min-height: 40px;
	border: 1px solid #009FDF;
	transition: .3s all;
	-webkit-transition: .3s all;
	-moz-transition: .3s all;
	-ms-transition: .3s all;
}
.btn:hover {
    color: #009FDF;
    background: transparent;
	border: 1px solid #009FDF;
	box-shadow: 0px 5px 20px rgb(0 159 223 / 15%);
    -webkit-box-shadow: 0px 5px 20px rgb(0 159 223 / 15%);
    -moz-box-shadow: 0px 5px 20px rgb(0 159 223 / 15%);
}
.main-outer {
	background: #E5E5E5;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.main-outer .left-bar {
	height: 100%;
	width: 50px;
	padding: 14px 0 20px;
	background: #009FDF;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
    z-index: 99;
}
.main-outer .left-bar .logo-sec {
	width: 30px;
}
.main-outer .left-bar .site-title {
	writing-mode: vertical-rl;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -100px;
}
.main-outer .left-bar .left-bottom-links {
	width: 27px;
	-webkit-align-self: flex-end;
	-moz-align-self: flex-end;
	-ms-align-self: flex-end;
	align-self: flex-end;
}
.main-outer .left-bar .left-bottom-links a {
	text-decoration: none;
}
.main-outer .left-bar .left-bottom-links a + a {
	margin-top: 26px;
}
.main-outer .main-content-sec {
	width: calc(100% - 50px);
	width: -webkit-calc(100% - 50px);
	width: -moz-calc(100% - 50px);
	height: 100%;
}
.header-sec {
	background: #FFFFFF;
	padding: 0 24px 6px;
	position: relative;
    z-index: 11;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
	min-height: 50px;
}
.header-sec ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
	-ms-flex-pack: flex-start;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.header-sec ul li {
	margin-right: 25px;
}
.header-sec ul li a {
	text-decoration: none;
	font-size: 18px;
	line-height: normal;
	font-weight: 700;
	color: #888888;
	border-radius: 0px 0px 8px 8px;
	padding: 11px 16px;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
}
.header-sec ul li a:hover,
.header-sec ul li a.menu-active {
	background: rgb(0 159 223 / 10%);
	color: #009FDF;
}
.content-dis-main {
	height: calc(100% - 50px);
	width: 100%;
		display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
	-ms-flex-pack: flex-start;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.overview-left-sec{ 
	width:320px;
	background: #FFFFFF;
	height: 100%;
	overflow: auto;
	border-right: 1px solid #C4C4C4;
}
.overview-graph-sec{ 
	width:calc(100% - 680px);
	width:-webkit-calc(100% - 680px);
	width:-moz-calc(100% - 680px);
	height: 100%;
	position: relative;
	z-index:0;
}
.overview-right-sec{ 
	width:360px;
    overflow: auto;
	height: 100%;
	background: #FFFFFF;
	border-left: 1px solid #C4C4C4;
	z-index: 1;
	position:relative;
}
.map-view-sec{ display:none;}
.overview-graph-sec > div{ width:100%; height:100%;}
.overview-graph-sec > div  img{ width:100%; height:100%; object-fit:cover;}
.assets-search-sec {
    padding: 25px 16px 0;
	border-bottom: 1px solid #C4C4C4;
}
.assets-search-sec h1 {
    margin-bottom: 32px;
}
.left-menu-sec h4 {
    background: #F4F4F4;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    padding: 7px 22px;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
	cursor: pointer;
}
.left-menu-sec h4 i {
    color: #009FDF;
    font-size: 26px;
    margin-right: 22px;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
}
.left-menu-sec h4.active i {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}
.left-menu-sec ul li a {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #555555;
    border-bottom: 1px solid #C4C4C4;
    display: block;
    padding: 13px 22px;
	text-decoration:none;
}
.left-menu-sec ul li {
    list-style: none;
    width: 100%;
}
.left-menu-sec ul li a:hover, .left-menu-sec ul li a.active{
    background: rgba(0, 159, 223, 0.1);
}
.right-menu-div {
    padding: 25px 16px 0;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
.right-menu-div h2 {
    margin-bottom: 30px;
}
.tabs-nav {
    background: #F4F4F4;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 4px 3px;
	display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	margin-bottom: 15px;
}
.tabs-nav li {
    list-style: none;
    width: 100%;
}
.tabs-nav li a {
    font-weight: 500;
    font-size: 12px;
    display: block;
    text-align: center;
    line-height: 14px;
    color: #000;
    padding: 9px 5px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	text-decoration:none;
	cursor:pointer;
}
.tabs-nav li.active a {
    background: #FFFFFF;
	box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
	color: #009FDF;
}
.overview-sidebar-list ul li {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
	list-style:none;
	padding: 7px 0;
}
.overview-sidebar-list ul li label {
    color: #888888;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}
.overview-sidebar-list ul li span {
    color: #888888;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}
.mt-4 {
    margin-top: 35px;
}
.overview-sidebar-list ul li span i {
    margin-left: 5px;
	color:#00CC00;
}
.overview-sidebar-list {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 10px;
}
.sidebar-chart-column {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 20px;
	margin-top: 24px;
}
.sidebar-chart-column h4{
	font-weight: 900;
	font-size: 14px;
	color: #333333;
	margin:0;
	padding-right:10px;
}
.chart-head {
    margin-bottom: 8px;
}
.chart-head ul {
    border:1px solid #009FDF;
}
.chart-head li {
    list-style: none;
}
.chart-head li a {
    font-weight: 500;
    font-size: 10px;
    padding: 4px 8px;
	color:#009FDF;
}
.chart-head li a.current, .chart-head li a:hover {
    background:#009FDF;
	color:#fff;
}
.map-zoom-btns {
    position: absolute;
    width: 40px !important;
    height: auto !important;
    left: 30px;
    top: 30px;
}
.map-zoom-btns a {
    width: 40px;
    height: 40px;
    border: 1px solid #009FDF;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    text-align: center;
    line-height: 40px;
    color: #009FDF;
    font-size: 20px;
    margin-bottom: 20px;
    background: #fff;
}
.map-zoom-btns a.zoomin-btn {
    color: #fff;
    background: #009FDF;
}
.map-view-type-btn {
    border: 2px solid #009FDF;
    position: absolute;
    width: 160px;
    height: 120px;
    bottom: 30px;
    left: 30px;
    overflow: hidden;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}
.map-view-type-btn span {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding: 8px;
}
.overview-sidebar-list h4 {
    font-weight: 900;
    font-size: 14px;
    color: #333333;
    margin-bottom: 5px;
}
.condition_tab_content .sidebar-chart-column {
    margin-bottom: 55px;
}
.menu-toggle {
    float: right;
    font-size: 22px;
    color: #009FDF;
    margin-top: 8px;
    display: none;
    cursor: pointer;
}
.menu-toggle.active i:before {
    content: '\f00d';
}
.left-menu-toggle {
    position: absolute;
    left: 40px;
    z-index: 1;
    background: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0px 5px 20px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    top: 60px;
    font-size: 12px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    cursor: pointer;
    display: none;
    border: 1px solid #009FDF;
    color: #009FDF;
}
.overlay-div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    z-index: 0;
    opacity: 0.3;
	display:none;
}
.right-sidebar-close-btn {
    position: absolute;
    right: 14px;
    top: 7px;
    font-size: 22px;
    color: #009FDF;
    cursor: pointer;
    display: none;
}
.page-content-area {
    width: calc(100% - 320px);
    width: -webkit-calc(100% - 320px);
    width: -moz-calc(100% - 320px);
    height: 100%;
	padding: 25px 30px 54px;
	overflow: auto;
}
.page-content-area h1 {
    margin-bottom: 26px;
}
.grap-item {
    width: calc(100%/2 - 30px/2);
    width: -webkit-calc(100%/2 - 30px/2);
    width: -moz-calc(100%/2 - 30px/2);
    margin-right: 30px;
    background: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 10px 30px;
}
.grap-item:nth-child(2) ~ .grap-item {
    margin-top: 30px;
}
.grap-item:nth-child(2n + 2) {
    margin-right: 0px;
}
.grap-item h4 {
    color: #888888;
    margin: 0;
	padding-right:15px;
}
.grap-item-head ul {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	padding:1px;
}
.grap-item-head {
    margin: 12px 0 15px;
}
.grap-item-head ul li {
    list-style: none;
    width: 100%;
}
.grap-item-head ul li a {
    font-weight: 500;
    font-size: 10px;
    color: #888888;
    padding: 4px 18px;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.grap-item-head ul li a.current {
    background:#009fe0;
	color:#fff;
}
.grap-item-foot {
    margin-top: 5px;
}
.grap-item-foot li {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin: 8px 20px;
}
.grap-item-foot label {
    font-weight: 500;
    font-size: 12px;
    color: #000;
    margin: 0;
}
.grap-item-foot li span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	margin-right:8px;
	background:#24CCB8;
}
.page-head {
    margin-bottom: 26px;
}
.page-head h1 {
    margin-bottom: 0 !important;
}
.download-btn {
    border: 1px solid #C4C4C4;
    border-radius: 8px;
    padding: 10px 15px;
    font-weight: 900;
    font-size: 14px;
    color: #009FDF;
	display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    background: #fff;
	-webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
	min-width: 160px;
    height: 40px;
	-webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}
.download-btn svg {
    margin-right: 8px;
}
.download-btn:hover {
    background: #009FDF;
    border-color: #009FDF;
    color: #fff;
}
.download-btn:hover path {
    fill: #fff;
}

/*responsive css */

@media screen and (max-width: 1199px){
.overview-left-sec{
    width: 270px;
}
.overview-right-sec {
    width: 300px;
}
.overview-graph-sec {
    width: calc(100% - 570px);
    width: -webkit-calc(100% - 570px);
    width: -moz-calc(100% - 570px);
}	
h1{
	font-size: 22px;
}
h2{
	font-size: 22px;
}
h3 {
    font-size: 20px;
}
.assets-search-sec h1, .right-menu-div h2 {
    margin-bottom: 20px;
}
.header-sec ul li {
    margin-right: 15px;
}
.header-sec ul li a {
    font-size: 16px;
    padding: 12px 16px;
}
.map-view-type-btn {
    width: 120px;
    height: 90px;
	left: 20px;
    bottom: 20px;
}
.map-zoom-btns a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
}
.map-zoom-btns {
    left: 20px;
    top: 20px;
}	
}
@media screen and (max-width: 991px){
.bg-login-heading h1 {
    font-size: 34px;
}
.header-sec {
    min-height: 42px;
    padding: 0 20px;
}
.menu-toggle {
    display: inline-block;
}
.header-sec .header-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0px 5px 20px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    display: none;
	padding: 20px;
    max-height: 500px;
    overflow: auto;
}
.header-sec ul li {
    margin-right: 0;
}
.header-sec ul li a {
    width: 100%;
    display: block;
    text-align: center;
	border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
.assets-search-sec, .right-menu-div {
    padding: 15px 12px 0;
}
.left-menu-sec h4 {
    padding: 9px 12px;
}
.left-menu-sec ul li a {
    padding: 12px;
}
.left-menu-sec h4 i {
    font-size: 22px;
    margin-right: 10px;
}
.assets-search-sec h1, .right-menu-div h2 {
    margin-bottom: 15px;
}
.overview-left-sec {
    width: 250px;
    position: fixed;
    left: 40px;
    top: 42px;
    z-index: 1;
    bottom: 0;
	margin-left: -250px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
}
.overview-left-sec.active {
    margin-left: 0;
}
.overview-right-sec {
    width: 280px;
	position: fixed;
    right: 0;
    top: 42px;
    bottom: 0;
	margin-right: -280px;
	transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
}
.overview-right-sec.active {
    margin-right: 0;
}
.overview-graph-sec {
    width: calc(100%);
    width: -webkit-calc(100%);
    width: -moz-calc(100%);
}
.main-outer .left-bar {
    width: 40px;
    padding: 10px 0 15px;
}
.main-outer .main-content-sec {
    width: calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
}
.left-menu-toggle{
	display:inline-block;
}
.left-menu-toggle.active {
    left: 290px;
}
.left-menu-toggle.active i:before {
    content: "\f323";
}
.content-dis-main {
    height: calc(100% - 42px);
    height: -webkit-calc(100% - 42px);
    height: -moz-calc(100% - 42px);
}
.map-zoom-btns {
    left: 15px;
    top: 70px;
}
.map-view-type-btn {
    width: 100px;
    height: 80px;
    left: 15px;
    bottom: 15px;
}
.map-zoom-btns a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
	margin-bottom: 12px;
}
.main-outer .left-bar .site-title {
    font-size: 16px;
}
.main-outer .left-bar .left-bottom-links a + a {
    margin-top: 12px;
}
.overlay-div.show {
    display: block;
}
.overview-right-sec h2 {
    padding-right: 20px;
}
.right-sidebar-close-btn {
    display: inline-block;
}
}

@media screen and (max-width: 767px){
.bg-logo {
    padding-top: 40px;
}
.bg-logo img {
    max-width: 120px;
}
.form-field {
    margin-bottom: 15px;
}
h1{
	font-size: 20px;
}
h2{
	font-size: 20px;
}
h3 {
    font-size: 18px;
}

p, .forgot-field a {
	font-size: 14px;
}
.bg-login-heading h1 {
    font-size: 24px;
}
.bg-login-form .card {
    padding: 25px 25px;
}	
.bg-login-form .forgot-field {
    margin-top: -5px;
}
.login-bg {
    min-height: 700px;
}	
	
	
}